.App-logo {
  height: 30vmin;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 40px;
}

.Header-input {
  display: flex;
  justify-content: center;
}

input {
  height: 60px;
  width: 200px;
  margin: 10px;
  font-size: 30px;
  font-family: 'Barlow', sans-serif;
}

.Button {
  height: 60px;
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3ab9ec;
  margin: 10px;
  font-family: 'Barlow', sans-serif;
  border-radius: 5px;
  font-size: 20px;
  color: white;
}

.Dictionary {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Add-a-word {
  display: flex;
  align-items: center;
}

.Add-a-word .Button {
  width: 230px;
}

.Dictionary input {
  margin-left: 50px;
  width: 280px;
}

h1 {
  font-family: 'Barlow', sans-serif;
  margin-left: 50px;
}

h2 {
  margin-bottom: -1px;
  margin-left: 20px;
}

.My-words {
  display: flex;
  flex-wrap: wrap;
}

.Word {
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  /* align-items: flex-start;
  flex-wrap: wrap; */
  align-items: flex-start;
  margin: 50px;
  /* border: 3px solid #3ab9ec; */
  border-radius: 5px;
  box-shadow: 0px 1px 5px 2px rgba(0, 0, 0, 0.75);
}

.Word p {
  margin-left: 20px;
  margin-right: 20px;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.Icons {
  /* margin-top: 270px; */
  margin-left: 250px;
}

.fas {
  font-size: 40px;
  margin: 10px;
}

.warning {
  color: #dc004e;
}

#writingDefinition {
  /* width: 300px;
  height: 100px; */
  width: 355px;
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  resize: none;
  font-size: 16px;
  line-height: 22px;
  font-family: 'Lato', sans-serif;
}

.no-display {
  display: none;
}
